*{
	font-family: sans-serif;
	box-sizing: border-box;
	margin-right: auto;
	margin-right: auto;
	
}
body{
	background-color: #ffccff;
}
#header-nav{
	background-color: #0099ff;
	border-radius: 0;
	border: 0;

}
.navbar-brand{
	padding-top:20px;
}
.navbar-brand h1{
	font-family: sans-serif;
	text-transform: uppercase;
	color: #66ff66;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	line-height: .75;

}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;

}
/*.navbar-header button.navbar-toggler {
	border: #ffccff;
}*/
button.navbar-toggler.collapsed.d-md-none{
	float: right;
	margin-top: 30px;
}
#header-nav{
	color: white;
	border:1px;
	border-color: red;
}
div.navbar-header{
	width: 100%;
	border-bottom: 1px;
	border-color: black;
}
#nav-list{
	margin-top: 10px;
}
.navbar-header button.navbar-toggler {
  clear: both;
  margin-top: -20px;
 } 
 button.navbar-toggler.d-md-none{
	float: right;
	margin-top: 30px;

}
#collapsable-nav{
	width: 100%;
}
li{
	text-align: center;
	padding: 5px;
	background-color: #0066cc;
	width: 100%;

}


#Chicken, #beef, #sushi{
height: 700px;
	background-color: #00e673;
	width: 100%;	
	margin-top: 40px;
	margin-bottom: 40px;
	padding:10px;
}
/*.f{
	height: 1000px;
	background-color: #00e673;
	
}*/
.topic h2{
	color:#0000ff; 
}
.first{
	font-weight: bold;
	
}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {
	.navbar-brand {
    padding-top: 20px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 7vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
}